{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div id="navbar" class="">
        <nav class="container-fluid">
            <div class="" style="min-height: 10px;">

            </div>
            <div style="border-bottom: 1px solid #21b7d1;">
                <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light" style=" border-radius: 0.4em;">
                    <button class="navbar-brand btn btn-light font-weight-bold" style="color: #1c9cb3"
                        disabled>Blogger</button>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'blog:posts_list' %}">Posts
                                    <span class="sr-only">(current)</span></a>
                            </li>
                            <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li> -->

                        </ul>
                        {% block searchform %}
                        {% endblock searchform %}
                    </div>
                </nav>
            </div>
        </nav>
    </div>

    <div id="main" class="container">

        {% block content %}
        {% endblock content %}

    </div>


    <!-- Footer -->
    <footer id="footer" class="conptainer-fluid">

        <div class="row">
            <hr class="col" style="border-top: 2px solid #1c9cb3; width: auto;">
        </div>

        <div class="container text-center text-md-left mt-5">

            <div class="row mt-3 text-muted">

                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                    <h6 class="text-uppercase font-weight-bold">Blogger</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Here you can get use of our knowledge and experience form working for years
                        and apply it to your job easily.
                    </p>

                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h6 class="text-uppercase font-weight-bold">Posts Type</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a class="text-muted" href="#!">Computer Science</a>
                    </p>
                    <p>
                        <a class="text-muted" href="#!">Web Apps</a>
                    </p>
                    <p>
                        <a class="text-muted" href="#!">Mobile Apps</a>
                    </p>

                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class=" accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="mr-3"></i> New York, NY 10012, US</p>
                    <p>
                        <i class="mr-3"></i> info@example.com</p>
                    <p>
                        <i class="mr-3"></i> + 01 234 567 88</p>
                    <p>
                        <i class="mr-3"></i> + 01 234 567 89</p>

                </div>


            </div>

        </div>



        <div class="text-center text-black-50 py-3">© 2019 Copyright:
            <a class="text-muted" href="{% url 'blog:posts_list' %}"> Blogger.com</a>
        </div>
    </footer>
    <!-- Footer -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>