{% for post in latest_posts %} <div class="card">
    <div class="card-header">
        <span class="font-weight-bold">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </span>
        <span class="text-muted float-right">by &colon; {{ post.author }} |
            {{ post.created }}
        </span>
    </div>
</div>
<br>
{% empty %}
<p>No commented posts yet.</p>
{% endfor %}