{% load blog_tags %}

<!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4" style="display: inline;">
    {% if page.has_previous %}
    <a class="btn btn-light btn-sm" href="?page=1">First &lt;&lt;</a> |
    <a class="btn btn-light btn-sm" href="?page={{ page.previous_page_number }}">Previous &lt;</a>
    {% endif %}
</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xl-4" style="display: inline;">
    <span class="btn">
        Page {{ page.number }} of {{ page.paginator.num_pages }}.
    </span>
</div>


<div class="col-lg-4 col-md-4 col-sm-4 col-xl-4" style="display: inline;">
    {% if page.has_next %}
    <a class="btn btn-light btn-sm" href="?page={{ page.next_page_number }}">&gt; Next</a> |
    <a class="btn btn-light btn-sm" href="?page={{ page.paginator.num_pages }}">&gt;&gt; Last</a>
    {% endif %}
</div> -->


<ul class="pagination justify-content-center">
    {% if page.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    {% endif %}

    {% for page_number in 1|range:page.paginator.num_pages %}
    <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
    {% endfor %}

    {% if page.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page.next_page_number }}">Next</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
    </li>
    {% endif %}
</ul>