{% extends 'base.html' %}
{% load blog_tags %}
{% block title %}Blogger{% endblock title %}


{% block searchform %}
<form class="form-inline my-2 my-lg-0" action="." method="POST">{% csrf_token %}
    <input class="form-control mr-sm-2" type="search" name="tag_slug" placeholder="Tag Slug" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock searchform %}



{% block content %}

<br>
<div id="intro" class="row">
    <div class="col">

        <div>
            {% total_posts as total_posts%}
            <p>Hi, this is my blog, I've posted {{ total_posts }} post{{ total_posts|pluralize }} till now.</p>
        </div>
        {% if tag %}
        <h4 style="display: inline;"> search results:</h4>
        <button class="btn btn-outline-danger btn-sm" disabled>{{ tag.name }}</button>
        <hr>
        {% endif %}
    </div>
</div>

<div id="main" class="row">

    <div id="posts_list" class="col-lg-8">
        {% for post in posts %}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold">
                    <a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a>
                </span>
                <span class="text-muted float-right">by &colon; {{ post.author }} |
                    {{ post.created }}
                </span>
            </div>
            <div class="card-body" style="min-height: 100px">
                {% if post.tags.all.count > 0 %}
                <span class="text-muted">Tags:</span>
                {% for tag in post.tags.all %}

                <span style="display: inline;">
                    <a href="{% url 'blog:posts_list_by_tag' tag.slug %}"
                        class="btn btn-sm btn-outline-dark ">{{ tag }}</a>
                </span>

                {% endfor %}
                {% else %}
                <span style="font-size: 14px; color: rgb(156, 156, 156);">No tags yet</span>
                {% endif %}
                <p class="align-middle">
                    <div class="card">
                        <div class="card-body">

                            {{ post.body }}
                        </div>
                    </div>
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-link btn-sm float-left" href="{% url 'blog:post_detail' pk=post.id %}">more
                    &gt;&gt;</a>
                <a class="btn btn-info btn-sm float-right" href="{% url 'blog:post_share' pk=post.id %}">Share</a>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>


    <div id="latest_posts" class="col-lg-4" style="background-color: rgb(243, 242, 242);margin-bottom: 1.5em;">
        <div>
            <br>
            <h4>Latest Posts</h4>
            <hr>
            {% get_latest_posts 3 %}
        </div>

        <div>
            <br>
            <h4>Most Commented Posts</h4>
            <hr>
            {% get_most_commented_posts as most_commented_posts %}
            {% for post in most_commented_posts %}
            <div class="card">
                <div class="card-header">
                    <span class="font-weight-bold">
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </span>
                    <span class="text-muted float-right">by &colon; {{ post.author }} |
                        {{ post.created }}
                    </span>
                </div>
            </div>
            <br>
            {% empty %}
            <p>No commented posts yet.</p>
            {% endfor %}
        </div>
    </div>

</div>

<div id="pagination" class="col">
    {% include 'pagination.html' with page=posts %}
</div>

{% endblock content %}