{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ post.title }}{% endblock title %}


{% block content %}
<br>
<div class="row">
    <div id="post_detail" class="col-lg-8">

        <div class="card">
            <div class="card-header">
                <div class="float-left">
                    <h3 style="padding: 15px 0px 0px 15px;">
                        <a style="text-decoration: none;"
                            href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a>
                    </h3>
                </div>
                <div class="text-muted float-right">
                    <table>
                        <tr>
                            <td>By</td>
                            <td>&colon; {{ post.author }}</td>
                        </tr>
                        <tr>
                            <td>Created</td>
                            <td>&colon; {{ post.created }}</td>
                        </tr>
                        <tr>
                            <td>Published</td>
                            <td>&colon; {{ post.publish }}</td>
                        </tr>
                        <tr>
                            <td>Last Updated</td>
                            <td>&colon; {{ post.created }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card-body" style="min-height: 200px">

                {% if post.tags.all.count > 0 %}
                <span class="text-muted">Tags:</span>
                {% for tag in post.tags.all %}

                <span style="display: inline;">
                    <a class="btn btn-sm btn-outline-dark"
                        href="{% url 'blog:posts_list_by_tag' tag.slug %}">{{ tag }}</a>
                </span>

                {% endfor %}
                {% else %}
                <span style="font-size: 14px; color: rgb(156, 156, 156);">No tags yet</span>
                {% endif %}
                <p class="align-middle">
                    <div class="card">
                        <div class="card-body">

                            {{ post.body }}
                        </div>
                    </div>
                </p>
            </div>
            <div class="card-footer">
                <h5 style="display: inline;">Comments</h5>
                <span class="text-muted">:
                    {% with comments.count as total_comments %}
                    {{ total_comments }} comment{{ total_comments|pluralize }}
                    {% endwith %}
                </span>
                <div style="background-color: white;padding: 15px 15px 15px 15px; border: 1px solid rgb(228, 228, 228)">
                    <table>

                        {% if comments %}

                        {% for comment in comments %}
                        <tr>
                            <td style="padding: 5px;">
                                <span class="text-muted" style="font-size: 11px;">
                                    {{ comment.created }}
                                </span>
                            </td>
                            <td style="padding: 5px;">
                                <span class="font-weight-bold" style="color: rgb(0, 153, 255); font-size: 18px;">
                                    {{ comment.name }}
                                </span>
                            </td>
                            <td>
                                <span style="font-size: 15px;">&colon; {{ comment.body }}</span>
                            </td>
                        </tr>
                        {% endfor %}

                        {% else %}
                        <tr>
                            <td>
                                <span style="font-size: 14px; color: rgb(156, 156, 156);"> No comments yet.
                                </span>
                            </td>
                        </tr>
                        {% endif %}

                    </table>
                </div>
                <div id=" addComment" style="padding: 15px">
                    <h5>Add Comment</h5>
                    {% if new_comment %}
                    <span style="border-color: transparent;">Your comment is added successfuly.</span>
                    {% endif %}
                    <hr>
                    <form action="." method="post" style="padding: 5px">
                        {% csrf_token %}
                        {{ comment_form|crispy }}
                        <input class="btn btn-outline-secondary btn-sm" type="submit" value="Add Comment">
                    </form>
                </div>
                <hr>
                <div>
                    <a class="btn btn-link btn-sm float-left" href="{% url 'blog:posts_list' %}">&lt;&lt; back to
                        blog</a>
                    <a class="btn btn-info btn-sm float-right" href="{% url 'blog:post_share' pk=post.id %}">Share</a>
                </div>
            </div>
        </div>

    </div>

    <div id="related_posts" class="col-lg-4" style="background-color: rgb(243, 242, 242);">
        <br>
        <h4>Related Posts</h4>
        <hr>
        {% for post in similar_posts %}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold">
                    <a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a>
                </span>
                <span class="text-muted float-right">by &colon; {{ post.author }} |
                    {{ post.created }}
                </span>
            </div>
        </div>
        <br>
        {% empty %}
        <p>No related posts.</p>
        {% endfor %}

    </div>
</div>
<br>
{% endblock content %}