{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Share Post{% endblock title %}


{% block content %}

<br>
<div class="row">
    <div class="col-1">

    </div>

    <div class="col-6">
        {% if sent %}
        <h2>Post Shared</h2>
        <hr>
        <p>Post "{{ post.title }}" was shared with "{{ form.cleaned_data.to }}" successfuly</p>
        <br>
        <a class="btn btn-link" href="{% url 'blog:post_detail' pk=post.id %}">&lt;&lt; Back to post</a>
        {% else %}
        <h2>Share Post</h2>
        <form action="." method="POST">{% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-success" type="submit" value="Send e-mail">
        </form>
        {% endif %}
    </div>

</div>

{% endblock content %}